@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #9a4b7b;
    --primary-color-dark: #782a59;
    --text-dark: #333;
    --white: #fff;
    --max-width: 1200px;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

img{
    display: flex;
    width: 100%;
    border-radius: 30px;
}

a{
    text-decoration: none;
    transition:0.3s;
}

ul{
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 3rem;
}

.nav__header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav__logo a img{
    max-width: 100px;
}

.nav__logo .logo-dark{
    display: none;
}

.nav__menu__btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav__links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}

.nav__links.open{
    transform: translateY(100%);
}

.nav__links a{
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
}

header{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: grid;
    gap: 4rem 1rem;
}

.header__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__image img{
    max-width: 450px;
    width:100%;
    border-radius: 30px;
    object-fit: cover;
    margin-inline: auto;
}

.header__content h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}

.header__content h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
}

.header__content h4{
    margin-bottom: -1rem;
    margin-top: -1.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
}

.header__content p{
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--text-dark);
    text-align: center;
}

.header__btn{
    margin-bottom: 5rem;
    text-align: center;
}

.header__btn button{
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    transition: .3s;
    cursor: pointer;
}

.header__btn button:hover{
    background-color: var(--primary-color-dark);
}

.header__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.header__socials a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 8px 10px;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: .3s;
}

.header__socials a:hover{
    background-color: var(--primary-color-dark);
}

.services{
    background-color: #fcfcfc;
}

.services__grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.service__card{
    padding: 2rem;
    background-color: var(--primary-color-dark);
    border-radius: 20px;
    box-shadow: -10px -10px 20px #a7a7a7;
    text-align: center;
    transition: 0.3s;
}

.service__icon{
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    display: inline-block;
}

.service__card h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.service__card p{
    padding-top: 1rem;
    font-weight: 300;
    line-height: 1.75rem;
    color: rgb(219, 214, 214);
}

.service__card:hover{
    transform: translateY(-40px);
    box-shadow: inset 0 10px 30px rgb(223, 130, 207);
}


@media(width > 768px) {
    nav{
        position: static;
        padding: 2rem 1rem 1rem;
        max-width: var(--max-width);
        margin-inline:auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__header {
    padding: 0;
    background-color: transparent
    }

    .nav__logo a img {
        max-width: 125px;
    }

    .nav__logo .logo-dark {
        display: flex;  
    }

    .nav__logo .logo-light {
        display: none;
    }

    .nav__menu__btn{
        display: none;
    }

    .nav__links{
        position: static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;
    }

    .nav__links a{
        font-weight: 600;
        color: var(--text-dark);
    }

    .nav__links a:hover{
        color: var(--primary-color);
    }

    header { /* Removido o ponto */
        grid-template-columns: 1fr 1fr; /* Cria duas colunas de tamanhos iguais */
        align-items: center; /* Alinha o texto e a imagem verticalmente ao centro */
    }

    .header__content :is(h1, h2, h4, p){
        text-align: left;
    }

    .header__btn{
        text-align: left;
    }

    .header__socials{
        justify-content: flex-start;
    }
}